body {
  font-family: Arial;
  background: #b3eaff;
  text-align: center;
  padding: 50px;
}

form {
  
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px #ccc;
}
button {
  background: #300fec;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}
h2 {
  color: #000000;
 
  padding: 20px;
  border-radius: 10px;
  
  
}
label {
  display: block;
  margin-top: 3px;
  font-weight: bold;
  
}
div {
  margin-bottom: 20px;
  background-color: #ffffff;
} 
input {
  padding: 10px;
  margin-top: 5px;
  width: 200px;
  border: 1px solid #85bdeb;
  border-radius: 5px;
}